
::-webkit-input-placeholder { /* Chrome */
  color: #444444;
  font-weight: 300;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: .85rem;
}

.main{
	margin-top: 2em;

}

i:hover{
	cursor: pointer;
}

/*//Header and the container */

.container{
	height: 20rem;
	width:  23rem;
	margin: 5rem auto;
}

.header{
	width: 23rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	padding-top: 0em;
	margin-bottom: 0px;
	background-color: #5888A6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: white;

}

/*Shopping input section*/

.inputsection {
	width: 20rem;
	height: 2.5rem;
	font-size: 1em;
	margin-bottom: 0px;
	background-color: #DFF2F2;
	display: inline-block;
}
.shoppinglistinput {
	width: 20rem;
	height: 2.5rem;
	font-size: .9rem;
	padding-left: 2rem;
	border: 0px solid;
	background-color: #DFF2F2;
	color: #4169E1;
	font-weight: 700;
}

input:focus {
	outline:none;

}

.plus { 
	display: inline-block;
	float: right;
	height: 2.5rem;
	width: 3rem;
	line-height: 2rem;
	background-color: #DFF2F2;
}

.plus i {
	height: 2.5rem;
	line-height: 2.5rem;
	vertical-align: middle;
	color: #444444;
	
}

/*Shopping list*/


.todo-list{
	list-style: none;
	padding-bottom: 0px;
	padding-left: 0;
	margin-top: 0px;
	
}

.todo-list > li {
	margin-top: 0rem;
	padding-bottom: 0px;
	height: 2rem;
	line-height: 2rem;
	
}

li:nth-child(even){
	background-color: #DFF2F2;

}

li:nth-child(odd){
	background-color: #ffffff;
}

.todo-list .fa-trash-o,
.todo-list .fa-arrows-v {
	height: 2rem;
	line-height: 2rem;
	vertical-align: middle;
	float: right;
	text-align: center;
	padding-right: 1rem;
	color: 444444;

}

.todo-list .fa-arrows-v {
	padding-right: 1rem;
}

.todo-list .shoppingitem-check {
	margin-top: .5rem;
	float: left;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

